* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  height: 100%; }

ul,
ol {
  list-style: none; }

input,
textarea,
select {
  font-family: inherit;
  color: inherit;
  font-size: inherit; }

.u-container {
  margin-inline: 1.6rem !important; }

.u-circle {
  border-radius: 1000rem !important; }

.u-border {
  border: 1px solid rgba(154, 165, 177, 0.5) !important; }

.u-hr::after {
  content: "" !important;
  display: block !important;
  background-color: rgba(154, 165, 177, 0.25) !important;
  height: 1px !important; }

/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-100.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-100.eot?#iefix") format("embedded-opentype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-100.woff2") format("woff2"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-100.woff") format("woff"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-100.ttf") format("truetype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-100.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-100italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-100italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-100italic.eot?#iefix") format("embedded-opentype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-100italic.woff2") format("woff2"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-100italic.woff") format("woff"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-100italic.ttf") format("truetype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-100italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-300.eot?#iefix") format("embedded-opentype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-300.woff2") format("woff2"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-300.woff") format("woff"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-300.ttf") format("truetype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-300.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-300italic.eot?#iefix") format("embedded-opentype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-300italic.woff2") format("woff2"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-300italic.woff") format("woff"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-300italic.ttf") format("truetype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-300italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-regular.woff2") format("woff2"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-regular.woff") format("woff"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-regular.ttf") format("truetype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-italic.eot?#iefix") format("embedded-opentype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-italic.woff2") format("woff2"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-italic.woff") format("woff"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-italic.ttf") format("truetype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-500.woff2") format("woff2"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-500.woff") format("woff"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-500.ttf") format("truetype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-500italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-500italic.eot?#iefix") format("embedded-opentype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-500italic.woff2") format("woff2"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-500italic.woff") format("woff"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-500italic.ttf") format("truetype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-500italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-700.woff2") format("woff2"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-700.woff") format("woff"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-700.ttf") format("truetype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-700italic.eot?#iefix") format("embedded-opentype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-700italic.woff2") format("woff2"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-700italic.woff") format("woff"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-700italic.ttf") format("truetype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-700italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-900.eot?#iefix") format("embedded-opentype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-900.woff2") format("woff2"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-900.woff") format("woff"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-900.ttf") format("truetype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-900.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-900italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-900italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-900italic.eot?#iefix") format("embedded-opentype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-900italic.woff2") format("woff2"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-900italic.woff") format("woff"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-900italic.ttf") format("truetype"), url("/vendor/fonts/roboto-v30-latin/roboto-v30-latin-900italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #616E7C; }

.company__name {
  font-size: 2.4rem;
  text-transform: uppercase;
  padding-left: 1.2rem; }

.heading--2 {
  margin-bottom: .8rem; }

.container--btn {
  background-color: gold;
  margin-top: 1.6rem;
  padding: .8rem;
  border-radius: .4rem;
  background-color: #fff; }
  .container--btn > div {
    margin-bottom: 4.8rem; }
    .container--btn > div > :not(button:last-child) {
      margin-right: 1.6rem; }

.btn {
  font-size: 1.6rem;
  padding: .8rem 1.6rem;
  border: none;
  color: #616E7C; }
  .btn > i {
    font-size: 2.0rem;
    transform: translateY(5%); }
  .btn--s {
    font-size: 1.4rem;
    padding: .6rem 1.4rem; }
    .btn--s > i {
      font-size: 1.6rem; }
  .btn--xs {
    font-size: 1.2rem;
    padding: .4rem 1.2rem; }
    .btn--xs > i {
      font-size: 1.6rem; }
  .btn--l {
    font-size: 2.0rem;
    padding: 1.2rem 2.4rem; }
    .btn--l > i {
      font-size: 2.4rem; }
  .btn--xl {
    font-size: 2.4rem;
    padding: 1.4rem 2.8rem; }
    .btn--xl > i {
      font-size: 3.0rem; }
    .btn--xl > div {
      display: inline-block; }
  .btn--border-radius {
    border-radius: 5px; }
  .btn--primary {
    background-color: #4C63B6;
    color: #fff; }
  .btn--trail-i > span {
    display: inline-block;
    margin-left: .4rem; }

.input--search {
  position: relative; }
  .input--search input {
    padding: .8rem;
    border: none;
    font-family: inherit;
    font-size: inherit; }
  .input--search .nav__icon.la-search {
    position: absolute;
    right: .8rem;
    top: .4rem;
    font-size: 2.4rem; }

.input-group--addon-dropdown {
  width: max-content; }
  .input-group--addon-dropdown > div {
    display: flex;
    border: 1px solid rgba(174, 173, 189, 0.5); }
    .input-group--addon-dropdown > div:focus-within {
      border: 1px solid #4C63B6; }
    .input-group--addon-dropdown > div div {
      font-size: 1.6rem; }
  .input-group--addon-dropdown input {
    border: none;
    padding: .8rem;
    font-size: inherit;
    font-family: inherit; }
    .input-group--addon-dropdown input:focus {
      outline: none; }
  .input-group--addon-dropdown__symbol {
    margin-inline: .8rem; }
  .input-group--addon-dropdown select {
    border: none;
    color: #616E7C;
    padding: .6rem; }
    .input-group--addon-dropdown select:focus, .input-group--addon-dropdown select:active {
      outline: none; }

.select--container {
  position: relative; }

.select__list {
  width: 25rem;
  margin-bottom: 1.6rem;
  position: absolute;
  left: -.1rem;
  top: 4.9rem;
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transition: all .5s ease-in-out; }
  .select__list--hidden {
    opacity: 0;
    visibility: hidden; }

.select__item, .select--active {
  cursor: pointer;
  width: 24.8rem;
  padding: .4rem;
  align-content: stretch; }
  .select__item:hover, .select--active:hover {
    background-color: #F5F7FA;
    color: #3E4C59; }
  .select__item img, .select--active img {
    height: 3.5rem; }
  .select__item span, .select--active span {
    flex-grow: 1;
    align-self: stretch; }
  .select__item .dropdown__icon, .select--active .dropdown__icon {
    font-size: 3.2rem;
    color: #9AA5B1;
    transition: all .3s ease-in-out; }
    .select__item .dropdown__icon--rotate, .select--active .dropdown__icon--rotate {
      transform: rotate(90deg); }

.select--native {
  display: none; }

.container--dropdown {
  background-color: gold;
  margin-top: 1.6rem;
  padding: .8rem;
  border-radius: .4rem;
  background-color: #fff; }
  .container--dropdown > div:not(button:last-child) {
    margin-bottom: 20rem; }
  .container--dropdown > div:nth-of-type(2), .container--dropdown > div:nth-of-type(3) {
    margin-bottom: 30rem !important; }
  .container--dropdown > div:nth-of-type(3) {
    margin-bottom: 40rem !important; }
  .container--dropdown > div p {
    margin-bottom: 2.4rem; }

.dropdown {
  display: inline-block;
  position: relative;
  width: 20rem;
  text-align: right; }
  .dropdown__trigger {
    display: inline-block;
    cursor: pointer;
    padding: .8rem 1.2rem;
    border-radius: 5px; }
  .dropdown__content {
    position: absolute;
    top: 4.2rem;
    left: 0;
    width: 20rem;
    background-color: #fff;
    border-radius: 5px; }
    .dropdown__content--hidden {
      display: none; }
  .dropdown__item {
    text-align: left; }
    .dropdown__item span {
      display: inline-block;
      transform: translateY(-0.55rem);
      margin-left: .4rem; }
  .dropdown__link, .dropdown__link:link, .dropdown__link:visited {
    display: block;
    padding: .8rem 1.2rem;
    color: #616E7C;
    text-decoration: none; }
  .dropdown__link:hover, .dropdown__link:active {
    color: #3E4C59;
    background-color: #F5F7FA; }

.form__group--icon {
  position: relative; }

.form__label {
  display: block;
  margin-bottom: .8rem; }

.form__input, .form__textarea, .form__select {
  padding: .8rem;
  border: 1px solid #9AA5B1; }
  .form__input:focus, .form__textarea:focus, .form__select:focus {
    border: 1px solid #4C63B6;
    outline: none; }
  .form__input::placeholder, .form__textarea::placeholder, .form__select::placeholder {
    color: #9AA5B1; }
  .form__input--icon, .form__textarea--icon, .form__select--icon {
    padding-left: 3.6rem; }

.form__icon {
  font-size: 3.2rem;
  color: #9AA5B1;
  position: absolute;
  bottom: 4px;
  left: 0; }

.form__radio {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  outline: 3px #2BB0ED solid;
  outline-offset: 5px; }
  .form__radio:checked {
    background-color: #2BB0ED; }

.tag {
  background-color: springgreen;
  padding: .4rem 1.6rem;
  font-size: 1.2rem; }
  .tag--primary {
    background-color: #E0E8F9;
    color: #35469C; }
  .tag--grey {
    background-color: #E4E7EB;
    color: #3E4C59; }
  .tag--accent-1 {
    background-color: #B3ECFF;
    color: #0B69A3; }
  .tag--accent-2 {
    background-color: #FFBDBD;
    color: #AB091E; }
  .tag--accent-3 {
    background-color: #FFF3C4;
    color: #B44D12; }
  .tag--accent-4 {
    background-color: #C6F7E2;
    color: #0C6B58; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem; }
  .nav > div {
    display: flex;
    gap: .8rem;
    align-items: center; }
  .nav img {
    height: 5rem; }
  .nav__icon {
    font-size: 3.2rem; }
  .nav--fluid {
    display: grid;
    grid-template-columns: max-content 1fr; }
  .nav .company {
    width: 25rem; }

.sidebar {
  display: grid;
  align-items: start;
  grid-template-rows: min-content 1fr min-content;
  width: 25rem; }
  .sidebar--2-rows {
    grid-template-rows: min-content min-content;
    align-content: space-between; }
  .sidebar .company {
    align-self: center;
    height: 6rem; }
  .sidebar__link:link, .sidebar__link:visited {
    display: flex;
    align-items: center;
    gap: .8rem;
    text-decoration: none;
    padding: .8rem .8rem;
    color: #616E7C; }
  .sidebar__link:hover, .sidebar__link:active {
    background-color: #9AA5B1;
    color: #9AA5B1; }
  .sidebar__item--active {
    background-color: #E0E8F9;
    border-right: 3px solid #647ACB; }
  .sidebar__icon {
    font-size: 3.2rem; }

.app--1 {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr; }
  .app--1__1 {
    grid-column: 1 / 2;
    grid-row: 1 / -1; }
  .app--1__2 {
    background-color: #F5F7FA;
    grid-column: 2 / -1;
    grid-row: 1 / 2; }
  .app--1__3 {
    background-color: rgba(154, 165, 177, 0.1);
    grid-column: 2 / -1;
    grid-row: 2 / -1; }

.app--2 {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr; }
  .app--2__1 {
    grid-column: 1 / 2;
    grid-row: 2 / -1; }
  .app--2__2 {
    background-color: #F5F7FA;
    grid-column: 1 / -1;
    grid-row: 1 / 2; }
  .app--2__3 {
    background-color: #9AA5B1;
    grid-column: 2 / -1;
    grid-row: 2 / -1; }

@media (max-width: 44em) {
  .app--1 {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content 1fr; }
    .app--1__1 {
      grid-column: 1 / -1;
      grid-row: 2 / 3; }
    .app--1__2 {
      grid-column: 1 / -1;
      grid-row: 1 / 2; }
    .app--1__3 {
      grid-column: 1 / -1;
      grid-row: 3 / -1; }
  .container--btn > div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .container--btn > div > .btn {
      margin-bottom: 1.2rem; }
  .nav {
    display: flex;
    flex-direction: column; }
    .nav .nav__greeting,
    .nav .nav__icon {
      display: none; }
  .sidebar {
    width: 100%; } }

.section {
  margin-bottom: 4.8rem; }
  .section > div {
    background-color: #fff;
    padding: 2.4rem; }
    .section > div > div:not(:first-child) {
      display: flex;
      align-items: flex-end;
      gap: 2.4rem; }
    .section > div > div:not(:last-child) {
      margin-bottom: 6.4rem; }
  .section--select > div div:nth-child(2) {
    align-items: flex-start; }

main {
  padding-top: 1.6rem; }

.u-container .subheading {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: #9AA5B1; }

.section--radio .form__label {
  display: inline-block;
  margin: 0 4.8rem 0 .8rem; }
