.box {
  background-color: gold !important; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  height: 100%; }

.u-vertical-center {
  display: flex !important;
  align-items: center !important; }

.u-gap-s {
  gap: .8rem !important; }

.u-gap-xs {
  gap: .4rem !important; }

.u-space-between {
  display: flex !important;
  justify-content: space-between !important; }

.u-circle {
  border-radius: 1000rem; }

.u-border {
  border: 1px solid rgba(174, 173, 189, 0.5); }

.u-dropdown-divider::after {
  content: "";
  display: block;
  background-color: rgba(174, 173, 189, 0.25);
  height: 1px; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #68667f; }

.company__name {
  font-size: 2.4rem;
  text-transform: uppercase;
  padding-left: 1.2rem; }

.heading--2 {
  margin-bottom: .8rem; }

.container--btn {
  background-color: gold;
  margin-top: 1.6rem;
  padding: .8rem;
  border-radius: .4rem;
  background-color: #fff; }
  .container--btn > div {
    margin-bottom: 4.8rem; }
    .container--btn > div > :not(button:last-child) {
      margin-right: 1.6rem; }

.btn {
  font-size: 1.6rem;
  padding: .8rem 1.6rem;
  border: none;
  color: #68667f;
  border-radius: 5px; }
  .btn > i {
    font-size: 2.0rem;
    transform: translateY(5%); }
  .btn--s {
    font-size: 1.4rem;
    padding: .6rem 1.4rem;
    border-radius: 3px; }
    .btn--s > i {
      font-size: 1.6rem; }
  .btn--xs {
    font-size: 1.2rem;
    padding: .4rem 1.2rem;
    border-radius: 3px; }
    .btn--xs > i {
      font-size: 1.6rem; }
  .btn--l {
    font-size: 2.0rem;
    padding: 1.2rem 2.4rem; }
    .btn--l > i {
      font-size: 2.4rem; }
  .btn--xl {
    font-size: 2.4rem;
    padding: 1.4rem 2.8rem; }
    .btn--xl > i {
      font-size: 3.0rem; }
    .btn--xl > div {
      display: inline-block; }
  .btn--trail-i > span {
    display: inline-block;
    margin-left: .4rem; }

.container--forms {
  background-color: gold;
  margin-top: 1.6rem;
  padding: .8rem;
  border-radius: .4rem;
  background-color: #fff; }
  .container--forms .mockup,
  .container--forms .select--container {
    width: 25rem;
    position: relative;
    margin-bottom: 1.2rem; }
  .container--forms > p {
    margin-bottom: 1.6rem;
    font-size: 1.4rem; }

.c-input--search {
  position: relative; }
  .c-input--search input {
    padding: .8rem;
    border: none;
    font-family: inherit;
    font-size: inherit; }
  .c-input--search .nav__icon.la-search {
    position: absolute;
    right: .8rem;
    top: .4rem;
    font-size: 2.4rem; }

.input-group--addon-dropdown {
  width: max-content; }
  .input-group--addon-dropdown > div {
    display: flex;
    border: 1px solid rgba(174, 173, 189, 0.5); }
    .input-group--addon-dropdown > div:focus-within {
      border: 1px solid #4C63B6; }
    .input-group--addon-dropdown > div div {
      font-size: 1.6rem; }
  .input-group--addon-dropdown input {
    border: none;
    padding: .8rem;
    font-size: inherit;
    font-family: inherit; }
    .input-group--addon-dropdown input:focus {
      outline: none; }
  .input-group--addon-dropdown__symbol {
    margin-inline: .8rem; }
  .input-group--addon-dropdown select {
    border: none;
    color: #68667f;
    padding: .6rem; }
    .input-group--addon-dropdown select:focus, .input-group--addon-dropdown select:active {
      outline: none; }

.select--container {
  position: relative; }

.select__list {
  width: 25rem;
  margin-bottom: 1.6rem;
  position: absolute;
  left: -.1rem;
  top: 4.9rem;
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transition: all .5s ease-in-out; }
  .select__list--hidden {
    opacity: 0;
    visibility: hidden; }

.select__item, .select--active {
  cursor: pointer;
  width: 24.8rem;
  padding: .4rem;
  align-content: stretch; }
  .select__item:hover, .select--active:hover {
    background-color: #f1f1f4;
    color: #3c3b4a; }
  .select__item img, .select--active img {
    height: 3.5rem; }
  .select__item span, .select--active span {
    flex-grow: 1;
    align-self: stretch; }
  .select__item .dropdown__icon, .select--active .dropdown__icon {
    font-size: 3.2rem;
    color: #aeadbd;
    transition: all .3s ease-in-out; }
    .select__item .dropdown__icon--rotate, .select--active .dropdown__icon--rotate {
      transform: rotate(90deg); }

.select--native {
  display: none; }

.sidebar__c-item--active {
  background-color: rgba(174, 173, 189, 0.2); }

.sidebar__link:link, .sidebar__link:visited {
  display: block;
  text-decoration: none;
  padding: .8rem .8rem;
  color: #68667f; }

.sidebar__link:hover, .sidebar__link:active {
  background-color: #aeadbd;
  color: #3c3b4a; }

.sidebar__icon {
  font-size: 3.2rem; }

.container--dropdown {
  background-color: gold;
  margin-top: 1.6rem;
  padding: .8rem;
  border-radius: .4rem;
  background-color: #fff; }
  .container--dropdown > div:not(button:last-child) {
    margin-bottom: 20rem; }
  .container--dropdown > div:nth-of-type(2), .container--dropdown > div:nth-of-type(3) {
    margin-bottom: 30rem !important; }
  .container--dropdown > div:nth-of-type(3) {
    margin-bottom: 40rem !important; }
  .container--dropdown > div p {
    margin-bottom: 2.4rem; }

.dropdown {
  display: inline-block;
  position: relative;
  width: 20rem;
  text-align: right; }
  .dropdown__trigger {
    display: inline-block;
    cursor: pointer;
    padding: .8rem 1.2rem;
    border-radius: 5px; }
  .dropdown__content {
    position: absolute;
    top: 4.2rem;
    left: 0;
    width: 20rem;
    background-color: #fff;
    border-radius: 5px; }
    .dropdown__content--hidden {
      display: none; }
  .dropdown__item {
    text-align: left; }
    .dropdown__item span {
      display: inline-block;
      transform: translateY(-0.55rem);
      margin-left: .4rem; }
  .dropdown__link, .dropdown__link:link, .dropdown__link:visited {
    display: block;
    padding: .8rem 1.2rem;
    color: #68667f;
    text-decoration: none; }
  .dropdown__link:hover, .dropdown__link:active {
    color: #3c3b4a;
    background-color: #f1f1f4; }

.nav {
  height: 6rem;
  padding-right: .8rem;
  padding-left: .8rem; }
  .nav img {
    height: 5rem; }
  .nav__icon {
    font-size: 3.2rem; }
  .nav--fluid {
    display: grid;
    grid-template-columns: max-content 1fr; }
  .nav .company {
    width: 25rem; }

.sidebar {
  display: grid;
  align-items: start;
  grid-template-rows: min-content 1fr min-content;
  width: 25rem; }
  .sidebar--2-rows {
    grid-template-rows: min-content min-content;
    align-content: space-between; }
  .sidebar .company {
    align-self: center;
    height: 6rem; }

.lp--1 {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr; }
  .lp--1__1 {
    grid-column: 1 / 2;
    grid-row: 1 / -1; }
  .lp--1__2 {
    background-color: #f1f1f4;
    grid-column: 2 / -1;
    grid-row: 1 / 2; }
  .lp--1__3 {
    background-color: rgba(174, 173, 189, 0.1);
    grid-column: 2 / -1;
    grid-row: 2 / -1; }
    .lp--1__3 > div {
      padding: .8rem; }

.lp--2 {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr; }
  .lp--2__1 {
    grid-column: 1 / 2;
    grid-row: 2 / -1; }
  .lp--2__2 {
    background-color: #f1f1f4;
    grid-column: 1 / -1;
    grid-row: 1 / 2; }
  .lp--2__3 {
    background-color: #aeadbd;
    grid-column: 2 / -1;
    grid-row: 2 / -1; }
