$color-grey-darkest: #2c2b36;
$color-grey-dark-2: #3c3b4a;
$color-grey-dark-1: #4e4d60;
$color-grey: #68667f;
$color-grey-light-1: #8a88a0;
$color-grey-light-2: #aeadbd;
$color-grey-lightest: #f1f1f4;

$color-white: #fff;
$color-grey: #68667f;
$color-black: #000;
$color-white: #fff;

$color-primary--darkest: #002159;
$color-primary--dark-2: #01337D;
$color-primary--dark-1: #03449E;
$color-primary: #2186EB;
$color-primary--light-1: #7CC4FA;
$color-primary--light-2: #BAE3FF;
$color-primary--lightest: #E6F6FF;

// $color-suport-2--light-1: #F9703E;
$color-accent-2--light-1: #F9703E;


$color-accent-1-darkest: #05606E;
$color-accent-1-dark--2: #07818F;
$color-accent-1-dark--1: #099AA4;
$color-accent-1: #1CD4D4;
$color-accent-1-light--1: #92FDF2;
$color-accent-1-light--2: #C1FEF6;
$color-accent-1-lightest: #E1FCF8;