// Colors
$color-white: #fff;
$color-grey: #68667f;
$color-black: #000;
$color-white: #fff;

$color-grey--darkest: #1F2933;
$color-grey--dark-3: #323F4B;
$color-grey--dark-2: #3E4C59;
$color-grey--dark-1: #52606D;
$color-grey: #616E7C;
$color-grey--light-1: #7B8794;
$color-grey--light-2: #9AA5B1;
$color-grey--light-3: #CBD2D9;
$color-grey--light-4: #E4E7EB;
$color-grey--lightest: #F5F7FA;

$color-primary--darkest: #19216C;
$color-primary--dark-3: #2D3A8C;
$color-primary--dark-2: #35469C;
$color-primary--dark-1: #4055A8;
$color-primary: #4C63B6;
$color-primary--light-1: #647ACB;
$color-primary--light-2: #7B93DB;
$color-primary--light-3: #98AEEB;
$color-primary--light-4: #E0E8F9;
$color-primary--lightest: #E0E8F9;

$color-accent-1--darkest: #035388;
$color-accent-1--dark-3: #0B69A3;
$color-accent-1--dark-2: #127FBF;
$color-accent-1--dark-1: #1992D4;
$color-accent-1: #2BB0ED;
$color-accent-1--light-1: #40C3F7;
$color-accent-1--light-2: #5ED0FA;
$color-accent-1--light-3: #81DEFD;
$color-accent-1--light-4: #B3ECFF;
$color-accent-1--lightest: #E3F8FF;

$color-accent-2--darkest: #610316;
$color-accent-2--dark-3: #8A041A;
$color-accent-2--dark-2: #AB091E;
$color-accent-2--dark-1: #CF1124;
$color-accent-2: #E12D39;
$color-accent-2--light-1: #EF4E4E;
$color-accent-2--light-2: #F86A6A;
$color-accent-2--light-3: #FF9B9B;
$color-accent-2--light-4: #FFBDBD;
$color-accent-2--lightest: #FFE3E3;

$color-accent-3--darkest: #8D2B0B;
$color-accent-3--dark-3: #B44D12;
$color-accent-3--dark-2: #CB6E17;
$color-accent-3--dark-1: #DE911D;
$color-accent-3: #F0B429;
$color-accent-3--light-1: #F7C948;
$color-accent-3--light-2: #FADB5F;
$color-accent-3--light-3: #FCE588;
$color-accent-3--light-4: #FFF3C4;
$color-accent-3--lightest: #FFFBEA;

$color-accent-4--darkest: #014D40;
$color-accent-4--dark-3: #0C6B58;
$color-accent-4--dark-2: #147D64;
$color-accent-4--dark-1: #199473;
$color-accent-4: #27AB83;
$color-accent-4--light-1: #3EBD93;
$color-accent-4--light-2: #65D6AD;
$color-accent-4--light-3: #8EEDC7;
$color-accent-4--light-4: #C6F7E2;
$color-accent-4--lightest: #EFFCF6;

// Grid
$grid-width: 114rem;
$grid-gutter-vertical: 3rem;
$grid-gutter-horizontal: 2rem;

// Elevation
$elevation--smallest: 0 1px 3px hsla(0, 0%, 0%, .2);
$elevation--small-1: 0 4px 6px hsla(0, 0%, 0%, .2);
$elevation: 0 5px 15px hsla(0, 0%, 0%, .2);
$elevation--high-1: 0 10px 24px hsla(0, 0%, 0%, .2);
$elevation--highest: 0 15px 35px hsla(0, 0%, 0%, .2);