.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;

  & > div {
    display: flex;
    gap: .8rem;
    align-items: center;
  }

  & img {
    height: 5rem;
  }

  &__icon {
    font-size: 3.2rem;
  }

  &__icon--s {
    font-size: 1.6rem;
  }

  &--fluid {
    display: grid;
    grid-template-columns: max-content 1fr;
  }

  & .company {
    width: 25rem;
  }
}
