.container--btn {
  background-color: gold;
  margin-top: 1.6rem;
  padding: .8rem;
  border-radius: .4rem;
  background-color: $color-white;

  & > div {
    margin-bottom: 4.8rem;

    & > :not(button:last-child) {
      margin-right: 1.6rem;
    }
  }
}

.btn {
  font-size: 1.6rem;
  padding: .8rem 1.6rem;
  border: none;
  color: $color-grey;
  // border-radius: 5px;
  cursor: pointer;

  & > i {
    font-size: 2.0rem;  
    transform: translateY(5%);
  }

  // Sizes
  &--s {
    font-size: 1.4rem;
    padding: .6rem 1.4rem;
    // border-radius: 3px;

    & > i {
    font-size: 1.6rem;  
  }

  }

  &--xs {
    font-size: 1.2rem;
    padding: .4rem 1.2rem;
    // border-radius: 3px;

    & > i {
    font-size: 1.6rem;  
  }

  }

  &--l {
    font-size: 2.0rem;
    padding: 1.2rem 2.4rem;

    & > i {
    font-size: 2.4rem;  
  }
  }

  &--xl {
    font-size: 2.4rem;
    padding: 1.4rem 2.8rem;

    & > i {
      font-size: 3.0rem;  
    }

    & > div {
      display: inline-block;
    }
  }

  // Border
  &--border-radius {
    border-radius: 5px;
  }

  &--round {

  }

  // Role
  &--primary {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
      background-color: $color-primary--dark-1;
    }
  }

  // Lead
  &--trail-i {
    // display: ;

    & > i {
      // transform: scale(1.2);
    }

    & > span {
      display: inline-block;
      margin-left: .4rem;
    }
  }

  // Trail

  // Link
  &--link {
    background-color: inherit;
    border: 1px solid transparent;
    // padding-bottom: 0;

    &:hover {
      // text-decoration: underline;
      border: 1px solid rgba($color-grey--light-2, .5);
      cursor: pointer;
    }
  }

  // Pagination
  &--pagination {
    &-previus,
    &-next {
      color: $color-primary;
      border: 1px solid transparent;

      &:hover {
        background-color: $color-primary--lightest;
        border: 1px solid $color-primary--lightest;
      }
    }
  }
}