// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  // outline: none;
  // box-shadow: 0 0 0 0.4rem $color-primary-light-2;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
}

ul,
ol {
  list-style: none;
}



input,
textarea,
select {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}