.u-border {
  border: 1px solid rgba($color-grey--light-2, .5) !important;
}

.u-container {
  margin-inline: 1.6rem !important;
}

.u-circle {
  border-radius: 1000rem !important;
}


.u-hr::after {
  content: "" !important;
  display: block !important;
  background-color: rgba($color-grey--light-2, .25) !important;
  height: 1px !important;
}

.u-vr::after {
  content: "" !important;
  display: inline-block !important;
  height: 100% !important;
  border-left: 1px solid rgba($color-grey--light-2, .35) !important;
  margin-left: 1rem;
}

.u-space-between {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between;
}

.horizontal-divider {
  height: 2rem;
}

.box {
  border: 1px dotted #f00;
}
