.section {
  & p {
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
  }

  &--btn {
    & > div {
      background-color: $color-accent-3--lightest;
    }
  }

  &--select {
    // padding-bottom: 25rem;

    // & > div div:nth-child(2) {
    //   background-color: coral;
    // }
    & p {
      margin-bottom: 1.6rem;
      font-size: 1.4rem;
    }
  }

  &--dropdown {
    // padding-bottom: 25rem;

    // & > div div:nth-child(2) {
    //   background-color: coral;
    // }
    & p {
      margin-bottom: 1.6rem;
      font-size: 1.4rem;
    }
  }

  &--tab {
    & p {
      margin-bottom: 1.6rem;
      font-size: 1.4rem;
    }
  }

  &--pagination {
    
  }
  &--table {
    & > .u-container.u-border.section__header > div {
      display: block;
      margin-bottom: 6.4rem;
    }
  }
}

