// Layout
.app--1 {
  &__2 {
    padding-left: .8rem;
    padding-right: .8rem;
  }

  &__3 {
    background-color: $color-grey--lightest;

    & > section {
      background-color: $color-white;
    }
  }
}

.sidebar {
  width: min-content;
}

.nav {
  height: max-content;
  padding: .4rem 0;
  width: calc(100vw - 75px);

  & .nav__img {
    height: 3.5rem;
  }
}

.filters {
  display: flex;
  justify-content: space-between;
  padding: .8rem;
  width: calc(100vw - 59px);

  &__left {
    display: flex;
    align-items: center;

    & > div {
      display: flex;
    }

    & .btn {
      &--outline:not(:last-child) {
        border-right: none;
      }

      &--deal {
        display: flex;
        align-items: center;
        gap: .8rem;
        padding: .15rem .8rem;
        margin-left: 1.6rem;
      }
    }
  }

  &__right {
    display: flex;
    gap: 1.2rem;
    
    & .nav__icon--s {
      margin-right: -.4rem;
      &.la-dollar-sign {
        margin-right: -.8rem;
      }
    }
  }
}

.stage {
  &__list {
    display: flex;
    gap: .8rem;
    background-color: $color-grey--lightest;
    margin: 1.2rem .8rem;

    & > div {
      border: 1px solid rgba($color-grey--light-2, .5);
      width: 30rem;
    }
  }

  &__item {
    padding: .4rem .8rem;
  }

  &__text {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: .8rem;
    color: $color-grey--dark-2;
  }

  &__summary {
    display: flex;
    gap: .8rem;
    font-size: 1.4rem;
    color: $color-grey--light-1;
    
    & > div{
      display: flex;
      align-items: center;
      gap: .4rem;
    }
  }

  &__icon {
    font-size: 1.6rem;
    transform: scale(1.3);
  }
}

.deal {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__table {
    display: flex;
    gap: .8rem;
    margin: 0 0.8rem;
  }
  
  &__column {
    width: 30rem;
  }
  &__cell {
    background-color: $color-white;
    padding: 0.4rem 0.8rem;
    margin-bottom: .8rem;
    box-shadow: $elevation--smallest;
  }
  &__text {
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-grey--dark-2;
  }

  &__company {
    font-size: 1.2rem;
    margin-bottom: .8rem;
  }

  &__summary {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: .4rem;
  }

  &__img {
    height: 2rem;
  }

  &__money {
    font-weight: 500;
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
  }

  &__icon-box {
    width: 2rem;
    height: 2rem;
    position: relative;
    background-color: $color-grey--light-3;

    &--green {
      background-color: $color-accent-4--light-1;
    }

    &--triangle {
      clip-path: polygon(50% 0, 100% 100%, 0 100%);
      font-size: 1.4rem;
      background-color: $color-accent-3;

      & .deal__icon {
        transform: translate(-50%, -40%);
      }
    }
  }
}