.sidebar {
  display: grid;
  align-items: start;
  grid-template-rows: min-content 1fr min-content;
  width: 25rem;

  &--2-rows {
    grid-template-rows: min-content min-content;
    align-content: space-between
  }
  & .company {
    align-self: center;
    height: 6rem;
    // background-color: blanchedalmond;

  //   &__name {
  //     font-size: 2.4rem;
  //     text-transform: uppercase;
  //     padding-left: 1.2rem;
  //   }
  }

  &__list {
    // background-color: yellow;
  }

  &__list--system {
    // background-color: azure;
  }

  &__item {
    
  }

  &__link:link, 
  &__link:visited {
    display: block;
    text-decoration: none;
    padding: .8rem .8rem;
    color: $color-grey;
  }

  &__link:hover, 
  &__link:active {
    background-color: $color-grey-light-2;
    color: $color-grey-dark-2;
  }

  &__icon {
    font-size: 3.2rem;
  }
}