////////////////////////////////////
// Development only (TEMPORARY)
.container--forms {
  background-color: gold;
  margin-top: 1.6rem;
  padding: .8rem;
  border-radius: .4rem;
  background-color: $color-white;

  & .mockup,
  .select--container {
    width: 25rem;
    position: relative;
    margin-bottom: 1.2rem;
  }

  & > p {
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
  }
}
////////////////////////////////////
// Inputs
.c-input {
  &--search {
    position: relative;

    & input {
      padding: .8rem;
      border: none;
      font-family: inherit;
      font-size: inherit;
    }

    & .nav__icon.la-search {
      position: absolute;
      right: .8rem;
      top: .4rem;
      font-size: 2.4rem;
    }
  }
}

.input-group {
  &--addon-dropdown {
    width: max-content;

    & > div {
      display: flex;
      border: 1px solid rgba(174, 173, 189, 0.5);

      &:focus-within {
        border: 1px solid $color-primary;
      }

      & div {
        font-size: 1.6rem;
      } 
    }

    & input {
      border: none;
      padding: .8rem;
      // background-color: gold;
      font-size: inherit;
      font-family: inherit;

      &:focus {
        outline: none;
      }
    }

    &__symbol {
      margin-inline: .8rem;
    }

    & select {
      border: none;
      color: $color-grey;
      padding: .6rem;

      &:focus,
      &:active {
        outline: none;
      }
    }
  }
}

/////////////////////////////////////
// Select menus
.select {
  &--container {
    position: relative;
  }

  &__active {
  }

  &__list {
    width: 25rem;
    margin-bottom: 1.6rem;

    position: absolute;
    left: -.1rem;
    top: 4.9rem;
    z-index: 10;
    
    // Animation
    opacity: 1;
    visibility: visible;
    transition: all .5s ease-in-out;

    &--hidden {
      // NO animation
      // display: none;

      // Animation
      opacity: 0;
      visibility: hidden;
    }
  }

  &__item ,
  &--active {

    cursor: pointer;
    width: 24.8rem;
    padding: .4rem;

    align-content: stretch;
    
    &:hover {
      background-color: $color-grey-lightest;
      color: $color-grey-dark-2;
    }

    & img {
      height: 3.5rem;
    }

    & span {
      flex-grow: 1;
      align-self: stretch;
    }

    & .dropdown__icon {
      font-size: 3.2rem;
      color: $color-grey-light-2;
      transition: all .3s ease-in-out;
      &--rotate {
        transform: rotate(90deg);
      }
    }
  }
  &--native {
    display: none;
  }
}
