.sidebar {
  &__c-item {

    &--active {
      background-color: rgba($color-grey-light-2, .2);
    }
  }

  &__link:link, 
  &__link:visited {
    display: block;
    text-decoration: none;
    padding: .8rem .8rem;
    color: $color-grey;
  }

  &__link:hover, 
  &__link:active {
    background-color: $color-grey-light-2;
    color: $color-grey-dark-2;
  }

  &__icon {
    font-size: 3.2rem;
  }
}