body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: $color-grey;
}

.company {
  &__name {
    font-size: 2.4rem;
    text-transform: uppercase;
    padding-left: 1.2rem;
  }
}