// Alignment
.u-vertical-center {
  display: flex !important;
  align-items: center !important;
}

.u-gap-s {
  gap: .8rem !important;
}

.u-gap-xs {
  gap: .4rem !important;
}

.u-space-between {
  display: flex !important;
  justify-content: space-between !important;
}



// Circle, border-radius
.u-circle {
  border-radius: 1000rem;
}

// Borders
.u-border {
  border: 1px solid rgba($color-grey-light-2, .5);
}

// Margin
.u-m-b {
  // margin-bottom: 1.2rem;
}

.u-m-l {
  // margin-bottom:6.4rem;
}

.u-dropdown-divider::after {
  content: "";
  display: block;
  background-color: rgba($color-grey-light-2, .25);
  height: 1px;
}