$color-grey-darkest: #2c2b36;
$color-grey-dark-2: #3c3b4a;
$color-grey-dark-1: #4e4d60;
$color-grey: #68667f;
$color-grey-light-1: #8a88a0;
$color-grey-light-2: #aeadbd;
$color-grey-lightest: #f1f1f4;

$color-white: #fff;
$color-grey: #68667f;
$color-black: #000;
$color-white: #fff;